
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container-fluid" style="padding-left: 3%; padding-right: 3%">
    <div class="row">
<<<<<<< HEAD
        <div class="col-lg-8">
        </div>
        <div class="col-lg-4">
            <div class="d-sm-flex align-items-center justify-content-end mb-4">
                <a href="Index" class=" d-sm-inline-block btn btn-sm btn btn-secondary" style="padding: .3rem .9rem;font-size:20px; margin:10px">
                    <i class="fa-solid fa-arrow-left" style="font-size:20px!important"></i>
                </a>
                <a href="#" class="d-sm-inline-block btn btn-sm btn-primary" data-bs-placement="bottom" title="Add user" style="padding: .3rem .9rem;font-size:20px; margin:10px" id="btnNuevo">
                    <i class="fas fa-plus text-white" style="font-size:20px!important"></i>
                </a>
                <div class="button b2" id="button-14" style="margin: 1px">
                    <input type="checkbox" class="checkbox" id="flexSwitchCheckChecked" checked />
                    <div class="knobs">
                        <span></span>
                    </div>
                    <div class="layer"></div>
                </div>

=======
        <div class="col-lg-8"><h1 class="h3 mb-0 text-gray-800  mb-3"><b>My Users</b></h1></div>
        <div class="col-lg-4">
            <div class="d-sm-flex align-items-center justify-content-end mb-4">

                <a href="#" class="d-sm-inline-block btn btn-sm btn-primary" data-bs-placement="bottom" title="Add user" data-bs-toggle="modal" data-bs-target="#myModal" style="padding: .3rem .9rem;font-size:20px; margin:10px" id="btnNuevo">
                    <i class="fas fa-plus text-white" style="font-size:20px!important"></i>
                </a>

                <a href="Index" class=" d-sm-inline-block btn btn-sm btn btn-secondary" style="padding: .3rem .9rem;font-size:20px; margin:10px">
                    <i class="fas fa-arrow-circle-left text-white" style="font-size:20px!important"></i>
                </a>
>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3

            </div>
        </div>

    </div>
</div>

<style>
    thead th {
        font-weight: 900 !important
    }
<<<<<<< HEAD

    .paginate_button {
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #7ab37f;
        background-color: #fff;
        border: 1px solid #dddfeb;
    }

    #tblUsuarios_previous {
        margin-left: 0;
        border-top-left-radius: 0.35rem;
        border-bottom-left-radius: 0.35rem;
    }

    #tblUsuarios_next {
        border-top-right-radius: 0.35rem;
        border-bottom-right-radius: 0.35rem;
    }
</style>
<div class="container-fluid" style="padding-left: 3%; padding-right: 3%">

=======
</style>
<div class="container-fluid" style="padding-left: 3%; padding-right: 3%">
    <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-12">
            <div class="input-group mb-5">
                <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Search">
                <button class="btn btn-primary" type="submit" style="padding: .3rem .9rem;font-size:18px"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3
    <br />
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">
<<<<<<< HEAD
            <div class="card">
                <div class="card-body">


                    <div class="table-responsive" style="border:none">
                        <table id="tblUsuarios" class="table table-hover" style="width:100%"></table>
                    </div>


                </div>
            </div>

        </div>
    </div>

</div>

<div class="modal fade" id="MProject">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ffc700">
                <h4 class="modal-title">Project</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                        <input style="display:none;" id="inpProject" type="text" name="name" value="" />
                        <div class="button b2" id="button-14" style="margin: 1px">
                            <input type="checkbox" class="checkbox" id="projectCheck" checked />
                            <div class="knobs">
                                <span></span>
                            </div>
                            <div class="layer"></div>
                        </div>
                    </div>
                    <div class="table-responsive" style="border:none">
                        <table id="tblProject" class="table table-hover" style="width:100%"></table>
                    </div>


                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="MDevice">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ffc700">
                <h4 class="modal-title">Device</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">

                    <div class="table-responsive" style="border:none">
                        <table id="tblDevice" class="table table-hover" style="width:100%"></table>
                    </div>


                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myUser">
=======

            <div class="table-responsive">
                <table class="table table-bordered table-striped shadow-sm">
                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Age</th>
                            <th>
                                Actions
                            </th>

                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>1</td>
                            <td>Anna</td>
                            <td>Pitt</td>
                            <td>35</td>
                            <td>
                                <a class="btn btn-warning" style=" padding: 6px 12px;" data-bs-toggle="modal" data-bs-target="#MDelete"><i class="fas fa-toggle-off"></i></a>
                                <a class="btn btn-primary" style=" padding: 6px 12px; color: white !important" data-bs-toggle="modal" data-bs-target="#MMapa"><i class="fas fa-map-location"></i></a>
                                <a class="btn btn-info" style=" padding: 6px 12px; background-color: #343433; border-color: #343433; color:white!important" data-bs-toggle="modal" data-bs-target="#MDispositivo"><i class="fas fa-mobile-phone"></i></a>


                            </td>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Anna</td>
                            <td>Pitt</td>
                            <td>35</td>
                            <td>New York</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 justify-content-end">
            <ul class="pagination" style="justify-content:flex-end!important">
                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="myModal">
>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
<<<<<<< HEAD
                <h4 class="modal-title" id='titleUSer'>Add User</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <input id="inpId" style="display:none;">
=======
                <h4 class="modal-title">Add User</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 fv-row">
<<<<<<< HEAD
                        <label class="form-label">User:</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" id="txtUser">
                    </div>
                    <div class="col-lg-6 fv-row ">
                        <label class="form-label">
                            Pass:
                        </label>
                        <input type="password" class="form-control form-control-lg form-control-solid" id="txtPass">
                    </div>


                </div>
                <div class="row">
                    <div class="col-lg-6 fv-row">
=======
>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3
                        <label class="form-label">First Name:</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" id="txtfirstname">
                    </div>
                    <div class="col-lg-6 fv-row ">
                        <label class="form-label">
                            Last Name:
                        </label>
                        <input type="text" class="form-control form-control-lg form-control-solid" id="txtlastname">
                    </div>


                </div>
<<<<<<< HEAD
                <div class="row">
                    <div class="mb-3 mt-3">
                        <label class="form-label">
                            Phone:
                        </label>
                        <input type="text" class="form-control form-control-lg form-control-solid" id="txtphone">
                    </div>
                    <div class="mb-3 mt-3">
                        <label class="form-label">
                            Email:
                        </label>
                        <input type="text" class="form-control form-control-lg form-control-solid" id="txtEmail">
                    </div>

                </div>
=======

                <div class="mb-3 mt-3">
                    <label class="form-label">
                        Phone:
                    </label>
                    <input type="text" class="form-control form-control-lg form-control-solid" id="txtphone">
                </div>
                <div class="mb-3 mt-3">
                    <label class="form-label">
                        Email:
                    </label>
                    <input type="text" class="form-control form-control-lg form-control-solid" id="txtEmail">
                </div>

>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
<<<<<<< HEAD
                <button type="button" class="btn btn-secondary" id="btnCancelar">Cancelar</button>
                <a href="#" class="btn btn-primary" style="background-color: #343433; border-color: #343433; color:white!important" id="btnSave">Save</a>
=======
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
                <a href="#" class="btn btn-primary">Continue</a>
>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="MMapa">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Map</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
<<<<<<< HEAD




=======
               

               
               
>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
                <a href="#" class="btn btn-primary" style="color:white!important">Continue</a>
            </div>

        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="MDispositivo">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #343433">
                <h4 class="modal-title">Add Divice</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="input-group mb-5">
                            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Search">
                            <button class="btn btn-primary" type="submit" style="padding: .3rem .9rem;font-size:18px"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
<<<<<<< HEAD
                        <div class="d-sm-flex align-items-center justify-content-end mb-4">

                            <a href="#" class="d-sm-inline-block btn btn-sm btn-primary" data-bs-placement="bottom" title="Add Divice" style="padding: .3rem .9rem;font-size:20px; margin:10px" id="btnNuevo">
                                <i class="fas fa-plus text-white" style="font-size:20px!important"></i>
                            </a>



                        </div>
                    </div>
                </div>
=======
                    <div class="d-sm-flex align-items-center justify-content-end mb-4">

                        <a href="#" class="d-sm-inline-block btn btn-sm btn-primary" data-bs-placement="bottom" title="Add Divice" style="padding: .3rem .9rem;font-size:20px; margin:10px" id="btnNuevo">
                            <i class="fas fa-plus text-white" style="font-size:20px!important"></i>
                        </a>



                    </div>
                </div>
                </div>
>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3
                <br />
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="table-responsive">
<<<<<<< HEAD
                            <div class="card-body">
                                <div class="table-responsive" style="border:none">
                                    <table id="tblDispositivos" class="table table-hover" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCancelarDis">Cancelar</button>
                <a href="#" class="btn btn-primary" style="background-color: #343433; border-color: #343433; color:white!important" id="btnSaveDis">Save</a>
=======
                            <table class="table table-bordered table-striped shadow-sm">
                                <thead class="text-center">
                                    <tr>
                                        <th>#</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Age</th>
                                        <th>
                                            Actions
                                        </th>

                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td>1</td>
                                        <td>Anna</td>
                                        <td>Pitt</td>
                                        <td>35</td>
                                        <td>
                                            <a class="btn btn-warning" style=" padding: 6px 12px;" ><i class="fas fa-toggle-off"></i></a>
                                            <a class="btn btn-primary" style=" padding: 6px 12px; color: white !important" ><i class="fas fa-pen"></i></a>
                                            


                                        </td>

                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Anna</td>
                                        <td>Pitt</td>
                                        <td>35</td>
                                        <td>New York</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 justify-content-end">
                        <ul class="pagination" style="justify-content:flex-end!important">
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
                <a href="#" class="btn btn-primary" style="background-color: #343433; border-color: #343433; color:white!important ">Continue</a>
>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3
            </div>

        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="MDelete">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ffc700">
<<<<<<< HEAD
                <h4 class="modal-title" id="txtlabelMdelete">Deactivate User</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <input style="display:none;" id="inpMdEleteElimin" type="text" name="name" value="" />
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 fv-row">

                        <p id="txtDescripcionEli">Are you sure you want to deactivate this user?</p>
                    </div>



                </div>



            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCancelarDesc">Cancel</button>
                <a href="#" class="btn btn-warning" style="color:white!important" id="btnDesactivarEli">Deactivate</a>
                <a href="#" class="btn btn-success" style="color:white!important;display:none;" id="btnActivateEli">Activate</a>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="MDeleteEliminarUser">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ffc700">
                <h4 class="modal-title" id="txtlabelMdeleteUser">Deactivate User</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <input style="display:none;" id="inpMdEleteEliminUser" type="text" name="name" value="" />
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 fv-row">

                        <p id="txtDescripcionEliUser">Are you sure you want to deactivate this user?</p>
                    </div>



                </div>



            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCancelarDescUser">Cancel</button>
                <a href="#" class="btn btn-warning" style="color:white!important" id="btnDesactivarEliUser">Deactivate</a>
                <a href="#" class="btn btn-success" style="color:white!important;display:none;" id="btnActivateEliUser">Activate</a>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="MActivate">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #ffc700">
                <h4 class="modal-title">Activate User</h4>
=======
                <h4 class="modal-title">Deactivate User</h4>
>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 fv-row">

<<<<<<< HEAD
                        <p>Are you sure you want to activate this user?</p>
=======
                        <p>Are you sure you want to deactivate this user?</p>
>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3
                    </div>



                </div>


<<<<<<< HEAD
=======


>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
<<<<<<< HEAD
                <button type="button" class="btn btn-secondary" id="btnCancelarAct">Cancel</button>
                <a href="#" class="btn btn-warning" style="color:white!important" id="btnActivate">Activate</a>
=======
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-warning"style="color:white!important">Deactivate</a>
>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3
            </div>

        </div>
    </div>
<<<<<<< HEAD
</div>


<br />
<br />
<script src="~/Scripts/js/Global.js"></script>
<script src="~/Scripts/axios.js"></script>
<script src="~/Scripts/sweetalert2.all.min.js"></script>
<script src="~/Scripts/axios.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/datatables/datatables.js"></script>

<script src="~/Scripts/js/Home/AdminController.js?v=1.0"></script>
<script type="text/javascript">
    (function () {
        var clsAdminControllers = new AdminControllers();
        clsAdminControllers.Inicializar();
    })();
</script>
=======
</div>
>>>>>>> e51c77cda878969436378a409aa7d1f91679dfb3
