
.card-login {
    border: none;
    border-radius: 0.75rem !important;
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%) !important;
}

.construction {
    font-size: 50px;
}

.logo {
    color: #7ab37f;
    font-size: 70px;
    font-weight: 900
}
a:hover{
    color:#000!important
}

#body-2 {
    background: none
}

@media screen and (max-width: 600px) {
    .padding1 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .body1 {
        background-color: #f3f7fa;
    }

    .construction {
        font-size: 30px !important;
    }

    .fondo {
        display: none
    }

    #noMovil {
        display: none
    }
}

@media screen and (max-width: 767px) {

    .fondo {
        display: none
    }
}

@media screen and (min-width: 601px) {
    .padding1 {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    .body1 {
        background-color: #f3f7fa;
        background-image: url(/content/img/login-fondo.png);
        background-attachment: fixed;
        background-size: 100%;
        background-position-y: bottom;
        background-repeat: no-repeat;
    }

    .construction {
        font-size: 35px !important;
    }
}

@media screen and (min-width: 920px) {

    .body-login3 {
        padding-left: 25%;
        padding-right: 25%
    }

    .construction {
        font-size: 50px !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {

    .img-login3 {
        margin-top: 45%
    }
}

#btnLogearse {
    width: 100%;
    background-color: #7ab37f;
    border: none;
    padding: 10px;
    font-size: 18px
}

    #btnLogearse:hover {
        width: 100%;
        background-color: #000;
        border: none;
        padding: 10px;
        font-size: 18px
    }
.btn-primary {
    
    background-color: #7ab37f;
    border: none;
    padding: 10px;
    font-size: 18px
}
    .btn-primary:hover {
        background-color: #000;
        border: none;
        padding: 10px;
        font-size: 18px
    }
#btnRecuperar {
    width: 100%;
    background-color: #7ab37f;
    border: none;
    padding: 10px;
    font-size: 18px
}

    #btnRecuperar:hover {
        width: 100%;
        background-color: #000;
        border: none;
        padding: 10px;
        font-size: 18px
    }
#btnCrearCuenta {
    width: 100%;
    background-color: #7ab37f;
    border: none;
    padding: 10px;
    font-size: 18px
}

    #btnCrearCuenta:hover {
        width: 100%;
        background-color: #000;
        border: none;
        padding: 10px;
        font-size: 18px
    }

.form-login {
    background-color: #f6f6f6;
    border: none;
    color: #7ab37f;
    height: 45px
}

.label-login {
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 600
}

a {
    color: #7ab37f;
    text-decoration: none
}

    a:hover {
        color: #000
    }

h3 {
    color: #2a2a2a;
}

.fondo {
    background-color: #7ab37f !important;
    padding-top: 10%
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.form-login {
    background-color: #f6f6f6 !important;
    border: none !important;
    color: #7ab37f !important;
    height: 45px !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card-login {
    border: none;
    border-radius: 0.75rem !important;
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%) !important;
    background-color: white
}
